{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie</title>
  {% bootstrap_css %}
  {% block css %}{% endblock css %}
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'movies:index' %}">Hypergrowth</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:index' %}">목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:create' %}">추가</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block body %}{% endblock body %}
  </div>
  {% bootstrap_javascript %}
</body>

</html>