{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %} 
<h1>게시판</h1><br>
<img src="{% static 'images/Bulletin_board.jpg' %}" alt=""><br><br>
<a href="{% url 'articles:create' %}">글 쓰기</a>
{% for article in articles %}<br><br>
<h3><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></h3>
<p>{{ article.created_at }} | {{ article.updated_at }}</p>
<hr>
{% endfor %}
{% endblock %}